In [32]:
import pandas as pd
pd.set_option('max_colwidth', 4000)
pd.set_option('max_columns', 4000)
pd.set_option('max_rows', 4000)

In [91]:
df = pd.read_csv("nodos_final_1.csv")

In [92]:
df[df["id"] == 1273315990277967874]

,id,followers,retweets,likes,user_id,url,texto,fecha,es_quote,quoted_tweet,es_retweet,retweeted_id
1443,1273315990277967874,333,4,18,1258518009037180933,https://twitter.com/debnamhazza/status/1273315990277967874,hoy hace 34 a√±os naci√≥ esta hermosa mujerü•∫ t amo beb√© https://t.co/0HyrSp2GhC,17/06/2020,0,none,0,none

In [10]:
for dd in df:
    print(dd)

id
followers
retweets
Rt reales
likes
user_id
url
texto
fecha
es_quote
es_retweet
retweeted_id

In [93]:
import json
nodes_list = json.loads(df.to_json(orient='records'))

In [94]:
for node in nodes_list:
    node["rts_comments"] = len([rr for rr in nodes_list if str(rr["quoted_tweet"]) == str(node["id"])])

In [95]:
[n for n in nodes_list if n["id"] == 1273315990277967874]

[{'id': 1273315990277967874,
  'followers': 333,
  'retweets': 4,
  'likes': 18,
  'user_id': 1258518009037180933,
  'url': 'https://twitter.com/debnamhazza/status/1273315990277967874',
  'texto': 'hoy hace 34 a√±os naci√≥ esta hermosa mujerü•∫ t amo beb√© https://t.co/0HyrSp2GhC',
  'fecha': '17/06/2020',
  'es_quote': 0,
  'quoted_tweet': 'none',
  'es_retweet': 0,
  'retweeted_id': 'none',
  'rts_comments': 0}]

In [45]:
len(nodes_list)

1456

In [96]:
dff = pd.DataFrame(nodes_list).groupby(["retweeted_id", "quoted_tweet", "user_id"]).sum().reset_index()

In [97]:
dff[df["id"] == 1273315990277967874]

/Users/davidbautista/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [retweeted_id, quoted_tweet, user_id, id, followers, retweets, likes, es_quote, es_retweet, rts_comments]
Index: []

In [88]:
dff.to_csv("hola2.csv", index=False)